<form [formGroup]="loginForm" (ngSubmit)="login()">
  <input
    type="email"
    formControlName="email"
    placeholder="Email"
  />
  <p *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
    Email is required !
  </p>

  <input
    type="password"
    formControlName="password"
    placeholder="Password"
  />
  @if (loginForm.controls['password'].invalid && loginForm.controls['password'].touched) {
    <p>
      Password is required !!
    </p>
  }


  <button type="submit">Login</button>
</form>